{% extends 'store/base.html' %}


{% block title %}ABOUT US{% endblock %}

<style>
  .about-section {
        max-width: 800px; 
        margin: 0 auto; 
        padding: 20px;
        background-color: #f8f8f8; 
        border: 1px solid #ddd; 
        border-radius: 8px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }

    .about-paragraph {
        font-size: 16px;
        line-height: 1.6;
        color: #333; 
    }
</style>



{% block content %}
<div class="about-section">
    <h2>ABOUT US</h2>
    <p class="about-paragraph">
      <p>Welcome to Cabugatan Maranao Cuisine!</p>
      <p> At Cabugatan Maranao Cuisine, we are passionate about delivering quality products and 
        exceptional service to our valued customers. Our journey began with a simple vision: 
        to provide a diverse selection of [type of products] that cater to every taste and need.
        Whether you're looking for [specific product categories] or seeking the latest trends, 
        we strive to curate a collection that reflects style, functionality, and affordability.</p>
        
        <p>
        What sets us apart is our commitment to customer satisfaction. We prioritize your 
        shopping experience by offering a seamless online platform, secure transactions, 
        and prompt delivery services. Our team is dedicated to staying at the forefront of 
        industry trends, ensuring that you have access to the latest and most innovative products.</p>
        
        <p>
        As a community-driven brand, we believe in the power of connection.
        We invite you to join our journey, explore our curated selection, 
        and become part of the  Cabugatan Maranao Cuisine family. Thank you for choosing us
        — where quality meets convenience.
        
        Discover the difference at Cabugatan Maranao Cuisine.</p>
    </p>
</div>




{% endblock %}